<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <title>Geo</title>
</head>
<body>
    <div id="map" class="container">
    </div>
    <div style="display: none">
        {{> './review-temp.hbs'}}
        {{> './single-review.hbs'}}
    </div>
</body>
</html>