<div class="review__item-header">
    <span class="review__item-name">{{review.name}}</span>
    <span class="review__item-place">{{review.place}}</span>
    <span class="review__item-date">{{review.date}}</span>
</div>
<p class="review__item-text">
    {{review.text}}
</p>