.review{
    width: 380px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;

    &__header{
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ff8663;
    }

    &__header-address{
        margin-left: 15px;
        font-size: 13px;
        color: #fff;
    }

    &__header-link{
        position: relative;
        width: 14px;
        height: 14px;
        margin-right: 12px;

        &:before,
        &:after{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform-origin: center;
            transform: translateY(-50%) rotate(45deg);
            width: 100%;
            height: 3px;
            background-color: #fff;
            border-radius: 3px;
        }

        &:after{
            transform: translateY(-50%) rotate(-45deg);
        }
    }

    &__body{
        width: 100%;
        padding: 0 14px;
    }

    &__list{
        width: 100%;
        height: 150px;
        overflow-x: hidden;
        overflow-y: scroll;
        border-bottom: 2px solid #f0f0f0;
    }

    &__item{
        margin-top: 20px;

        &:first-child{
            margin-top: 5px;
        }
    }

    &__item-name,
    &__item-place,
    &__item-date,
    &__item-text{
        font-size: 16px;
        color: #4f4f4f;
    }

    &__item-name{
        font-weight: 800;
    }

    &__item-place,
    &__item-date{
        opacity: 75%;
    }
}